#picture
{
    background-color: black;
    height: 200px;
    width: 15%;
    border-right: 11px solid #e5bb8a;
    border-radius: 15px;
    margin: 0px;
    display: inline-block;
    vertical-align:top; 

}