
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JO!N</title>
    <link rel="icon" href="~/IMG/小黃人.png" type="image/png" />

    <!-- Font Awesome套件引入 -->
    <script src="https://kit.fontawesome.com/2bfbd4ef35.js" crossorigin="anonymous"></script>


    <!-- 引入 Bootstrap 的 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />

    <!-- css連結 -->
    <link rel="stylesheet" href="~/css/loggedbar.css" />

    <!-- 引入 Bootstrap 的 JavaScript 和相依的 Popper.js 和 jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</head>

<body>
    <!-- 導覽列設計 -->
    <div class="header">
        <div class="row navbar justify-content-between">
            <div class="col-auto">
                <a class="navbar-item" href="#" id="home">
                    <img src="~/IMG/標誌.png" alt="logo" id="logo" width="200" height="60" />
                </a>
            </div>
            <div class="col-auto">
                <a class="navbar-item" href="#" id="explore-link">
                    探索
                    <i id="downicon" class="fa-sharp fa-solid fa-chevron-down"></i>
                </a>
                <div class="dropdown-content" id="explore-dropdown">
                    <div class="row">
                        <div class="col dropdown-img-1">
                            <a href="#">登山</a>
                        </div>
                        <div class="col dropdown-img-2">
                            <a href="#">溯溪</a>
                        </div>
                        <div class="col dropdown-img-3">
                            <a href="#">潛水</a>
                        </div>
                        <div class="col dropdown-img-4">
                            <a href="#">露營</a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-auto">
                <a class="navbar-item" id="group-link" href="#">發起揪團</a>
            </div>
            <div class="col">
                <!-- 填充空間 -->
            </div>
            <div class="col-auto">
                <div class="searchInputWrapper">
                    <input class="searchInput" type="text" placeholder='搜尋...'>
                    <i class="searchInputIcon fa fa-search"></i>
                </div>
            </div>

            <!-- 通知下拉 -->
            <div class="col-auto">
                <ul class="nav nav-pills nav-justified">

                    <li class="nav-item notification-wrapper">
                        <button class="notification">
                            <i class="fa-solid fa-bell fa-lg" style="color: #ffffff;"></i>
                            <span class="notification--num">3</span>
                        </button>
                        <div class="notification-popup">
                            <div class="notification-popup__header">
                                <h3>通知</h3>
                                <button><i class="fa-solid fa-check read-all"> 全部已讀</i></button>
                            </div>
                            <div class="popup-content row">
                                <i class="fa-solid fa-circle col-1 notification-dot" style="color: #0860f7; font-size: 0.3em;"></i>
                                <i class="fa-regular fa-newspaper col-2"></i>
                                <div class="notification-message col-9">
                                    <h4>活動開團啦! 請選擇日期</h4>
                                    <span class="notified-date">5小時前</span>
                                </div>
                            </div>
                            <div class="popup-content row">
                                <i class="fa-solid fa-circle col-1 notification-dot" style="color: #0860f7; font-size: 0.3em;"></i>
                                <i class="fa-regular fa-newspaper col-2"></i>
                                <div class="notification-message col-7">
                                    <h4>A活動有新留言!</h4>
                                    <span class="notified-date">1天前</span>
                                </div>
                            </div>
                            <div class="popup-content row">
                                <i class="fa-solid fa-circle col-1 notification-dot" style="color: #0860f7; font-size: 0.3em;"></i>
                                <i class="fa-regular fa-newspaper col-2"></i>
                                <div class="notification-message col-7">
                                    <h4>有人回覆了你的留言</h4>
                                    <span class="notified-date">1天前</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- 會員中心 -->
            <div class="col-auto nav-signed">
                <a class="singed-style" href="#">會員中心</a>
            </div>
        </div>
    </div>

</body>

</html>