*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

.form {
  background: #416ac2;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(#a0b3b0, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
  }
 li a:hover {
      background: darken(#1ab188, 5%);
      color: white;
    }

  .active a {
    background: #14213d;
    color: white;
  }
}

.tab-content > div:last-child {
  display: none;
}