/* Add a black background color to the top navigation */
.topnav {

  background-color: #14213d;
  overflow: hidden;
  position: absolute;
  margin-left: 500px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  border-bottom: 2px solid transparent;
}

.topnav a:hover {
  border-bottom: 2px solid #fca311;
}

.topnav a.active {
  border-bottom: 2px solid #fca311;
}
