@model List<MemberUseViewModel>

@{
    Layout = "_MemberLayout";
}



<div class="container">
    <div class="row row-cols-2">
    @foreach (var activity in ViewBag.LikedActivities)
    {
            var canEditValue = activity.CanEdit ? "true" : "false";
            <div class="col">
                <div class="card my-3">
                    <div class="card-body">
                        <h3 class="card-title">@activity.ActivityName</h3>
                        <p class="card-text">投票日:@activity.VoteDate?.ToString("yyyy-MM-dd")</p>
                        <div class="card-button-container">
                            <button class="blue-btn blue-btn-text-style"
                                    onclick="checkEditable(@canEditValue);">
                             選擇時段
                            </button>
                            <button class="blue-btn blue-btn-text-style delete-btn" data-id="@activity.LikeRecordID">取消收藏</button>
                        </div>
                    </div>
                </div>
            </div>  
    }
    </div>
</div>
<script>

    function checkEditable(canEdit) {
        if (canEdit) {
            alert('可以編輯!');
            // 這裡可以加入你要連結到的編輯頁面的程式碼，例如：
            // location.href = 'your_edit_link_here';
        } else {
            alert('目前不可以編輯!');
        }
    }



    $('.delete-btn').click(function () {
        var id = $(this).data('id');
        var result = confirm("確定要刪除此紀錄嗎？");
        if (result) {
            $.post("/Member/DeleteLikeRecord", { likeRecordID: id }, function () {
                // 呼叫成功後的操作，例如重新載入頁面
                location.reload();
            });
        }
    });

</script>
