@model List<LikedActivityViewModel>

@{
    Layout = "_MemberLayout";
}



<div class="container">
    <div class="row row-cols-2">
    @foreach (var activity in ViewBag.LikedActivities)
    {
             
            <div class="col">
                <div class="card my-3">
                    <div class="card-body">
                        <h3 class="card-title">@activity.ActivityName</h3>
                        <p class="card-text">投票日:@activity.VoteDate?.ToString("yyyy-MM-dd")</p>
                        <div class="card-button-container">
                            
                            <button class="blue-btn blue-btn-text-style">編輯</button>
                            <button class="blue-btn blue-btn-text-style">刪除</button>
                        </div>
                    </div>
                </div>
            </div>  
    }
    </div>
</div>