@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<div class="container" id="introABC">
    <div>

        <!-- 照片 -->

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                        
                        <figure>
                            <img src="" class="gambar img-responsive img-thumbnail"
                                 id="item-img-output" />
                        </figure>
                        <input type="file" class="item-img file center-block" name="file_photo" />
                    
                </div>
            </div>
        </div>

        <div class="modal fade" id="cropImagePop" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            <?=multiLanguage( "Edit Foto" , "Edit Photo" )?>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div id="upload-demo" class="center-block"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" id="cropImageBtn"
                                class="btn btn-primary">
                            Crop
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- 暱稱 -->


            <div class="mb-3 col-4 ">
                <label for="nickname" class="form-label">暱稱</label>
                <input type="email" class="form-control" id="nickname">
            </div>

            <!-- 自我介紹 -->
            <div class="mb-3 col-8">
                <label for="introduceyrself" class="form-label">自我介紹 (字數限制50字以內) </label>

                <textarea class="form-control" id="introduceyrself" rows="6"></textarea>
            </div>

            <div class="org-btn org-btn-text-style text-end">
                儲存
            </div>


        </div>
    </div>


</div>


 <script>


    // Start upload preview image

    $(".gambar").attr("src", "https://user.gadjian.com/static/images/personnel_boy.png");
    var $uploadCrop,
        tempFilename,
        rawImg,
        imageId;
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('.upload-demo').addClass('ready');
                $('#cropImagePop').modal('show');
                rawImg = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
        else {
            swal("Sorry - you're browser doesn't support the FileReader API");
        }
    }

    $uploadCrop = $('#upload-demo').croppie({
        viewport: {    // Start upload preview image

            $(".gambar").attr("src", "https://user.gadjian.com/static/images/personnel_boy.png");
            var $uploadCrop,
            tempFilename,
            rawImg,
            imageId;
            function readFile(input) {
        if(input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('.upload-demo').addClass('ready');
            $('#cropImagePop').modal('show');
            rawImg = e.target.result;
        }
        reader.readAsDataURL(input.files[0]);
    }
              else {
        swal("Sorry - you're browser doesn't support the FileReader API");
    }
        }

    $uploadCrop = $('#upload-demo').croppie({
        viewport: {
            width: 150,
            height: 200,
        },
        enforceBoundary: false,
        enableExif: true
    });
    $('#cropImagePop').on('shown.bs.modal', function () {
        // alert('Shown pop');
        $uploadCrop.croppie('bind', {
            url: rawImg
        }).then(function () {
            console.log('jQuery bind complete');
        });
    });

    $('.item-img').on('change', function () {
        imageId = $(this).data('id'); tempFilename = $(this).val();
        $('#cancelCropBtn').data('id', imageId); readFile(this);
    });
    $('#cropImageBtn').on('click', function (ev) {
        $uploadCrop.croppie('result', {
            type: 'base64',
            format: 'jpeg',
            size: { width: 150, height: 200 }
        }).then(function (resp) {
            $('#item-img-output').attr('src', resp);
            $('#cropImagePop').modal('hide');
        });
    });


    // ajax丟給controller

    $('#cropImageBtn').on('click', function (ev) {
        $uploadCrop.croppie('result', {
            type: 'base64',
            format: 'jpeg',
            size: {
                width: 150,
                height: 200
            }
        }).then(function (resp) {
            // 使用AJAX將裁剪後的圖像數據上傳到伺服器
            $.ajax({
                url: '/Member/UploadImage', // 替換成伺服器端端點的URL
                //如果你使用ASP.NET MVC框架，這個URL可能會指向一個控制器的動作方法，如/YourController/SaveCroppedImage，其中YourController是你的控制器名稱，SaveCroppedImage是處理保存圖像的動作方法名稱。如果你使用其他後端框架或語言，URL結構可能會有所不同。
                type: 'POST',
                data: {
                    imageData: resp
                },
                success: function (response) {
                    if (response.success) {
                        // 更新用戶界面上的圖像
                        $('#item-img-output').attr('src', response.imageUrl);
                        $('#cropImagePop').modal('hide');
                    } else {
                        alert('圖像保存失敗');
                    }
                },
                error: function () {
                    alert('發送圖像數據到伺服器失敗');
                }
            });
        });
    });

</script>