/* 字體 */
/* 分支修改測試 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200&family=Roboto:ital,wght@1,300&display=swap");

/* "米字號"被用來選取HTML文檔中的所有元素 */
* {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  
  /*當使用超連結時，頁面會平滑滾動到目標位置。 */
}

/* 主題顏色宣告 */
:root {
  --black: #000000;
  --deepBlue: #14213d;
  --blue: #416ac2;
  --orange: #fca311;
  --lightGray: #e5e5e5;
  --white: #ffffff;
}

/* 頁面背景色 */
body {
  
  background-color: var(--deepBlue);
  padding-left: 20%;
  padding-right: 20%;
  color: var(--white);
}



/* 導覽列 */
.navbar {
  margin-top: 0px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  font-size: large;
  font-weight: bolder;
  position: relative;
}


.navbar-item {
  text-decoration: none;
  color: var(--white);
  margin-right: 20px;
  position: relative;
}

.navbar-item:hover {
  color: var(--orange);
}


.navbar-right {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-right: 50px;
}

.search-input {
  border-radius: 5px;
  margin-right: 5px;
}

.navbar-notify {
  text-decoration: none;
  margin-right: 20px;
  color: var(--white);
  background-color: var(--orange);
  padding: 5px 15px;
  border-radius: 5px;
}

.navbar-notify:hover {
  color: var(--deepBlue);
}

.navbar-member {
  text-decoration: none;
  margin-right: 20px;
  color: var(--white);
  background-color: var(--orange);
  padding: 5px 15px;
  border-radius: 5px;
}

.navbar-member:hover {
  color: var(--deepBlue);
}


/* 懸浮方框 */
.dropdown {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 400px;
  top: 100%;
  left: 10%;
  /*這裡我是暴力調整，如果頁面寬度過窄，懸浮的方框就不會跟"探索"對齊了*/
  z-index: 5;
  /*確保不會被其他元素擋住*/
  border-radius: 10px;
  box-shadow: 0 4px 36px 1px #797979;
}

.dropdown-content a {
  text-decoration: none;
  color: var(--blue);
}

.dropdown-content a:hover {
  color: var(--orange);
}

.dropdown-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.dropdown-section {
  flex: 1;
}

.dropdown-section {
  font-size: 1.2rem;
  font-weight: bold;
  /* text-align: center; */
}

.dropdown-section ul {
  list-style: none;
  padding: 15px;
  margin: 0%;
}

.dropdown-section ul li a {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--deepBlue);
  /* text-align: center; */
}

/* 通知的懸浮方框 */

.Ndropdown {
  display: none;
  position: absolute;
  background-color: var(--white);
  width: 250px;
  height: 200px;
  top: 80%;
  right: 5%;
  /*這裡我是暴力調整，如果頁面寬度過窄，懸浮的方框就不會跟"探索"對齊了*/
  z-index: 5;
  /*確保不會被其他元素擋住*/
  border-radius: 10px;
  box-shadow: 0 4px 36px 1px #797979;
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;

 
}

.Ndropdown-content a {
  text-decoration: none;
  color: var(--blue);
}

.Ndropdown-content a:hover {
  color: var(--orange);
}

.Ndropdown-content {
  display: flex;
  /* justify-content: space-between; */
  padding: 20px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.AA {
  max-width: 100px; /* 設定最大寬度，超過的部分會顯示為... */
  white-space: nowrap; /* 防止文字換行 */
  overflow: hidden; /* 隱藏超出範圍的文字 */
  text-overflow: ellipsis; /* 顯示...來代替超出範圍的文字 */
}

.Ndropdown-section {
  flex: 1;
}

.Ndropdown-section {
  font-size: 1.2rem;
  font-weight: bold;
  /* text-align: center; */
}

.Ndropdown-section ul {
  list-style: none;
  padding: 15px;
  margin: 0%;
}

.Ndropdown-section ul li a {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--deepBlue);
  /* text-align: center; */
}


.notification-badge {
  background-color: red;
  color: var(--white);
  border-radius: 50%; /* 讓邊框裁剪成正圓 */
  width: 20px; /* 設定寬度 */
  height: 20px; /* 設定高度，保持相等 */
  font-size: 12px;
  position: absolute;
  margin-left: -36px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.badge-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  z-index: 2;
}


















/* 下拉選單 */
*{
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}
dropdown{
   display: inline-block;
   margin: 250px 40px; 
}
dropdown label, dropdown ul li{
  display: block;
  width: 270px;
  background: #ECF0F1;
  padding: 15px 20px;
}




dropdown label:hover, dropdown ul li:hover{
  background: #fca311;
  color: white;
  cursor: pointer;
}
dropdown label{
  color: #14213d;
  /* border-left: 4px solid #1ABC9C; */
  border-radius: 5px 5px 0 0; 
  position: relative;
  z-index: 2;
}
dropdown input{
  display: none;
}
dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  left: -32px;
  top: -20px;
  z-index: 1;
}

.selectdate{
  width: 300px;
}

.date{
  position: absolute;
  margin-top: 250px;
}

.C {
  position: absolute;
  margin-top: 700px;
  margin-left: -730px;
}

.IMG {
  position: absolute;
  margin-top: 700px;
  margin-right: -40px;
}



dropdown input:checked + label{
  background: #fca311;
  color: white;
}

dropdown input:checked ~ ul{
  visibility: visible;
  opacity: 1;
  top: 0;
}

dropdown ul li:nth-child(1) {
  color: #14213d;
  .fa{
    display: none;
  }
  &:hover {
    background: #fca311;
    color: white;
  }
}

dropdown ul li:nth-child(2) {
  color: #14213d;
  .fa{
    display: none;
  }
  &:hover {
    background: #fca311;
    color: white;
  }
}

dropdown ul li:nth-child(3) {
  color: #14213d;
  .fa{
      display: none;
  }
  &:hover {
    background: #fca311;
    color: white;
  }
}







@for $i from 1 through length($colors) {
  dropdown ul li:nth-child(#{$i}) {
    border-left: 4px solid nth($colors, $i);
    .fa{
      color: nth($colors, $i);
    }
    &:hover {
        background: nth($colors, $i);
        color: white;
      .fa{
        color: white; 
      }
    }
  }
}

.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;  
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}




/* 日曆 */
@import url(https://fonts.googleapis.com/css?family=Muli:400, 300);
body { margin-top: 0%; }

.calendar, .calendar_weekdays, .calendar_content {
    max-width: 300px;
}
.calendar {
    margin: auto;
    font-family:'Muli', sans-serif;
    font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
    cursor: pointer;
}

.calendar_content ul {
  cursor: alias; 
}


.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: #d5d5d5;
}
.calendar_content div.today {
    font-weight: bold;
    font-size: 14px;
    color: #fca311;
}
.calendar_content div.selected {
    background-color: #fca311;
    color: #e5e5e5;
}
.calendar_header {
    width: 100%;
    text-align: center;
}
.calendar_header h2 {
    padding: 0 10px;
    font-family:'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #fca311;
    float:left;
    width:70%;
    margin: 0 0 10px;
}
button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #fca311;
    float: left;
    width:15%;
    transition: color .2s;
}
button.switch-month:hover {
    color: #fca311;
}

.my-element {
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  width: 300px;
  height: 220px;
  border-radius: 0 0 10px 10px; 
  background-color: #e5e5e5; 
}



/* 選擇照片 */
.img-container {
  position: absolute;
  height: 300px;
  width: 680px;
  border: 2px solid #fca311; /* 边框宽度和颜色 */
  padding:130px 20px 50px 120px; /* 可选，为内部内容添加一些空间 */
  margin-left: 430px; /* 可选，为容器添加外边距 */
  margin-top: -30px;
  background-color: #fca311;
}

