

/* 設置一下高度我這樣form才有辦法置中 */
html, body {
    height: 100%;
  }

/* 主題顏色宣告 */
:root {
  --black: #000000;
  --deepBlue: #14213d;
  --orange: #fca311;
  --lightGray: #e5e5e5;
  --white: #ffffff;
}


form{
  display: block;
  align-items: center;
  justify-content: center;

}

/* 按鈕的基本樣式 */
.button {
    background-color: #14213d;
    color: white;
    border: 2px solid #14213d;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 0; /* 上下間距 */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 12rem;
  }
  
  /* 滑鼠移過時的樣式 */
  .button:hover {
    background-color: white;
    color: #14213d;
  }
  
  .login {
    background-color: var(--white);
    width: 350px;
    color: var(--deepBlue);
    box-shadow: 10px 10px 25px #14213d;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    max-height: 600px; /* 設置最大高度，根據需要更改 */


  }
  
  .login input {
    display: flex;
    margin: 10px auto;
    text-align: center;
    background: none;
    color: var(--deepBlue);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #14213d;
  }
  
  .header {
    text-align: center;
    margin-bottom:5rem;
  }
  
  .header h1 {
    margin-right: 120px;
    margin-bottom: 1rem;
  }
  
  .header p {
    margin-right: 40px;
  }

  

/* body鎖死id解決... */
#login {
  margin: 0 auto; /* 實現水平置中 */
  margin-top: 3rem;
}

#navbar{
display: flex;
margin-top: 3rem;
justify-content: center

}
.navbar:hover{
  transform: scale(1.5);
}

#container2{
  visibility: hidden; 
  display: none;}  


  h5:hover{
    text-decoration:underline;
    transform: scale(1.5);
    cursor: pointer;
    color: #9f9e9e;
  }