* {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  /*當使用超連結時，頁面會平滑滾動到目標位置。 */
}


:root {
  --black: #000000;
  --deepBlue: #14213d;
  --blue: #416ac2;
  --orange: #fca311;
  --lightGray: #e5e5e5;
  --white: #ffffff;
  --brown: #AD7D52;
  --heart: #B44163;
  --lightBlue-bg: rgba(45, 68, 119, 0.486);
}

.mycontainer {
  padding-left: 15%;
  padding-right: 15%;
}

/* 麵包屑 */
#linkWordDiv {
  margin-top: 1%;
}

#linkWordDiv h1 {
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
}

.reg-and-like-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 12%;
  margin-bottom: 2%;
}
/* 報名按鈕 */
.register-btn {
  width: fit-content;
  border: var(--orange) 2px solid;
  padding: 2.5px 12.5px;
  border-radius: 5px;
  transition: all 0.1s ease;
}

.register-btn:hover {
  background-color: var(--brown);
  border: var(--orange) 2px solid;
}

/* 文字設計 */
.register-btn-text-style {
  font-size: 1.5rem;
  font-weight: bolder;
  text-decoration: none;
  color: var(--orange);
  transition: color 0.1s;
}

.register-btn-text-style:hover {
  color: var(--white);
}

/* 點擊愛心 */
.heart-inner .heart-icon {
  cursor: pointer;
}

.heart-inner {
  margin-top: 10px;
}

.hit-style {
  display: none;
  margin-top: 10px;
  padding-left: 5.3px;
  font-size: 1rem;
  position: absolute;
  animation: bounceIn 0.4s ease forwards; 
}

.heart-inner .heart-icon:hover+.hit-style {
  display: block;
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* 輪播圖 */
.carouselDiv {
  display: flex;
  justify-content: center;
}

/* 圖片 */
#pictureDiv {
  box-shadow:
    0 10px 50px 0 rgba(129, 128, 128, 0.66),
    inset 0 0 0 50px #333,
    inset 0 0 0 6px rgba(255, 255, 255, 0.5);
  position: relative;
}

.carousel {
  position: relative;
}

.carousel-item img {
  object-fit: cover;
}

#carousel-thumbs {
  background: rgba(255, 255, 255, .3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}

#carousel-thumbs img {
  border: 10px solid transparent;
  cursor: pointer;
}

#carousel-thumbs img:hover {
  transform: scale(1.05);

}

#carousel-thumbs .selected img {
  border: 4px solid var(--deepBlue);
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}

@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}

@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}

/* 圖片手動修改 */

/* 活動內容資訊 */

.activity_about {
  background-color: var(--lightBlue-bg);
  border-radius: 10px;
  padding: 2%;
}

.activity_about h1,
.activity_info h1 {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 2%;
  color: var(--orange);
}


.activity_about h3,
.activity_about h4 {
  font-size: 1.55rem;
  /* 修改字體大小 */
  font-weight: 800;
  /* 修改字體粗細 */
}

.activity_about ul,
.activity_about p {
  font-size: 1.5rem;
  /* 修改字體大小 */
  font-weight: 400;
  /* 修改字體粗細 */
}

.activity_info {
  background-color: var(--lightBlue-bg);
  border-radius: 10px;
  padding: 2%;
  width: auto;
  height: fit-content;
}

.activity_info td {
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 1%;
}



/* 懸浮聊天室按鈕 */

.label-container{
	position:fixed;
	bottom:3rem;
	right:15rem;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	
    display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

.float{
	position:fixed;
	width:5rem;
	height:5rem;
	bottom:3rem;
	right:10rem;
	background-color:var(--orange);
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float img{
    margin-top: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
}

.my-float{
	font-size:24px;
	margin-top:18px;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

/* 聊天室彈出 */



#dialogDiv{
    background-color: var(--black);
    /* height: 30rem; */
    margin-top: 10rem;
    overflow-y: 10rem;
    padding: 5rem;
}

/* 聊天室 */







  .commentDiv{
    display: flex;
    height: auto;
    margin-bottom: 2rem;
  }

  .profile{
    background-image: center;
    background-position: fixed;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 2% 2% 3% 2%;
    z-index:2;
    position: relative;
  }
  
  .comment-box{
    height: 3rem;
    width: auto;
    margin-left: 3% 0 0 0;
    /* background: gray; */
    padding: 1rem;
  }

  #replyBtn{
    text-align: right;
  }

  .replydiv{
    width: auto;
    border-radius: 20px;
    display: inline-flex;
  }

  .reply-box{
    height: 1rem;
    width: auto;
    border-radius: 20px;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #userName{
    margin-bottom: 0;
  }
  
  #userReply{
    margin-top: 0;
    margin-left: 1rem;
  }

  .replyImg{
    /* border: 10px solid #000000; */
    background-image: center;
    background-position: fixed;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: 2% 2% 3% 2%;
    z-index:2;
    position: relative;
    display: inline-flex;
  }

  .messageDiv{
    display:block;
    width: auto; 
    padding: 1rem;   
  }
  
  .messageBox{
    margin-top: 1rem;
    margin-left: 2rem;
  }
  
  .messageBox input{
    width: 30rem;
    height: 2rem;
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(173, 173, 173);
  }

.message-board::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.message-board::-webkit-scrollbar
{
    width: 12px;
	background-color: #F5F5F5;
}

.message-board::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.message-board::-webkit-scrollbar-thumb:hover {
    background: #303030; 
  }