/* #picture
{
    background-color: black;
    height: 200px;
    width: 15%;
    border-right: 11px solid #e5bb8a;
    border-radius: 15px;
    margin: 0px;
    display: inline-block;
    vertical-align:top; 

} */
:root {
    --black: #000000;
    --deepBlue: #14213d;
    --blue: #416ac2;
    --orange: #fca311;
    --lightGray: #e5e5e5;
    --white: #ffffff;
}

h1{
    font-size: xx-large;
    color: var(--white);

}
h3{
    color: var(--lightGray);
}

#content{
    width: 100%;
    height: 110rem;
    margin: 50px;
}

/* 圖片DIV CSS */
#pictureDiv{
    /* background-color: var(--lightGray); */
    height: 50%;
    width: 50%;
    padding: 10px;
    position: relative;
    display: inline-block;
    /* justify-content: flex-start */
}

#picture{
    height: 70%;
    width: 100%;
}

#morePictureDiv{
    width: 100%;
    height: 20%;
    /* background-color: var(--white); */
    /* display: flexbox; */
}

#morePicture{
    width: 31%;
    height: 100%;
    display: inline-flex;
    margin: 0.9%;
    border: 3px solid var(--lightGray);
    
}

#morePicture:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px rgba(0, 0, 0,0.8);
}

/* 報名DIV */
#signUpDiv{
    float:right;
    height: 50%;
    width: 50%;
    padding: 10px;
    margin-top: 1rem;
    /* display: inline-block; */
    /* justify-content: flex-end; */
    position: relative;

}

/* 按鈕 */
.btn{
    width:30%;
    height: 5rem;
    border:0;
    background-color:#0777da;
    color:#fff;
    font-size: x-large;
    border-radius:10px;
    margin-left: 10%;
    cursor:pointer;

}
  
.btn:hover{
    color:#0777da;
    background-color:var(--lightGray);
    border:2px var(--black);
}

/* 地圖DIV */
#map{
    width: 100%;
    height: 30rem;
    border-radius: 32px;
}


/* 活動詳細DIV */
#activityDiv{
    background-color: var(--blue);
    width: 100%;
    height: 50rem;
    margin-top: 75px; 
    border: 5px solid var(--lightGray);
    border-radius: 32px;
}

#activityDetailed{
    background-color: var(--orange);
    width: 30%;
    height: 5rem;
    margin-top: 2.5%;
    margin-left: 2.5%;
    padding: 5px;
    border: 3px solid var(--lightGray);
    border-radius: 32px;
    display:flex;
    position: absolute;

}

#activityH3{
    color: var(--deepBlue);
    display: inline-block;
    font-size: large;
    flex-grow: 1;
    
}


/* 彈出式頁面 */

/* #signDialog{
    opacity: 0.9;
} */

#signDialog{
    height: 80%;
    width: 60%;
    border: none;
    background-color: var(--black);
    box-shadow: 0 2px 6px var(--black);
    border-radius: 32px;
}

#signDialog h2{
    color: var(--white);
    text-align: center; 
}

#dialogClose{
    width:20%;
    height: 3rem;
    border:0;
    background-color:#fca311;
    color:#fff;
    font-size: xx-large;
    border-radius:10px;
    margin-left: 10%;
    cursor:pointer;
    position: absolute;
    left: -3rem;
    bottom: 1rem;
}
#dialogClose:hover{
    color:var(--white);
    background-color:#965d02;
    border:2px var(--black);
}

#dialogSign{
    width:20%;
    height: 3rem;
    border:0;
    background-color:#fca311;
    color:#fff;
    font-size: xx-large;
    border-radius:10px;
    margin-left: 10%;
    cursor:pointer;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
}

#dialogSign:hover{
    color:var(--white);
    background-color:#965d02;
    border:2px var(--black);
}

#signTextDiv{
    width: 30rem;
    display: inline-block;
    position: absolute;
    left: 3rem;
}
#signTextDiv p{
    color: var(--lightGray);
    font-size: xx-large;
    display: flex;
    justify-content: center;
}



input {
    width: 30rem;
    height: 3rem;
    border: 0px;
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--lightGray);
    text-align: center;
    border: 1px solid rgba(255,255,255,.15);
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0,0.1);
    border-radius: 30px;
}
textarea{
    width: 30rem;
    height: 9rem;
    border: 0px;
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--lightGray);
    border: 1px solid rgba(255,255,255,.15);
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0,0.1);
    border-radius: 10px;
}

/* dialog日程表 */
#activityCalendar{
    
    /* float:right; */
    display: inline-block;
    position: absolute;
    top: 6rem;
    right: 3rem;
    
}

/* #signDialog::backdrop {
    background-color: rgba(0, 0, 0, 0.1);
  } */
