/* #picture
{
    background-color: black;
    height: 200px;
    width: 15%;
    border-right: 11px solid #e5bb8a;
    border-radius: 15px;
    margin: 0px;
    display: inline-block;
    vertical-align:top; 

} */
:root {
    --black: #000000;
    --deepBlue: #14213d;
    --blue: #416ac2;
    --orange: #fca311;
    --lightGray: #e5e5e5;
    --white: #ffffff;
}

h1{
    font-size: xx-large;
    color: var(--white);

}
h3{
    color: var(--lightGray);
}

button:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px rgba(0, 0, 0,0.8);

}

#linkWord{
    margin-left: 15rem
}

#titleWord{
    text-align: center;
    font-size: 5rem;
}

#content{
    width: 85rem;
    height: 65rem;
    /* margin: 50px; */
    padding: 1%;
    margin-left: 15rem ;
    margin-right: 15rem;
    display: inline-flex;
    margin-top: 0rem;
    border-top: 5px solid var(--black);
    border-right: 5px solid var(--black);
    border-left: 5px solid var(--black);
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(61, 61, 61, 0.788);
}

#contentBottom{
    width: 85rem;
    height: 70rem;
    margin-top: 90px;
    margin-left: 15rem ;
    margin-right: 15rem;
    display: inline-flex;
    margin-top: 0rem;
    border-bottom: 5px solid var(--black);
    border-right: 5px solid var(--black);
    border-left: 5px solid var(--black);
    border-radius: 0px 0px 10px 10px;
    background-color: rgba(61, 61, 61, 0.788);
}

/* 圖片DIV CSS */
#pictureDiv{
    /* background-color: var(--lightGray); */
    height: 100%;
    width: 50%;
    padding: 10px;
    position: relative;
    display: inline-block;
    /* justify-content: flex-start */
}

#picture{
    height: 70%;
    width: 100%;
    border-radius: 20px;
    box-shadow:
        0 20px 60px 0 rgba(129, 128, 128, 0.66),
        inset 0 0 0 50px #333,
        inset 0 0 0 6px rgba(255, 255, 255, 0.5);
}

#morePictureDiv{
    width: 100%;
    height: 20%;
    /* background-color: var(--white); */
    /* display: flexbox; */
}

#morePicture{
    width: 29%;
    height: 100%;
    display: inline-flex;
    margin: 0.9%;
    border: 3px solid var(--lightGray);
    
}

#morePicture:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px rgba(0, 0, 0,0.8);
}

/* 報名DIV */
#signUpDiv{
    /* float:right; */
    height: 50%;
    width: 50%;
    padding: 10px;
    margin-top: 1rem;
    display: inline-block;
    /* justify-content: flex-end; */
    position: relative;

}

/* 按鈕 */
#signBtn{
    width:30%;
    height: 5rem;
    border:0;
    background-color:#fca311  ;
    color:var(--black);
    font-size: xx-large;
    font-weight: 1000;
    border-radius:10px;
    margin-left: 10%;
    cursor:pointer;
}
  
#signBtn:hover{
    color:var(--deepBlue);
    background-color:var(--lightGray);
    border:2px var(--black);
}

#signBtn{
    width:70%;
    height: 5rem;
    border:0;
    background-color:#fca311  ;
    color:var(--black);
    font-size: xx-large;
    font-weight: 1000;
    border-radius:10px;
    margin-left: 10%;
    cursor:pointer;
}

/* 地圖DIV */
#map{
    width: 100%;
    height: 25rem ;
    border-radius: 32px;
    box-shadow:
        0 20px 60px 0 rgba(129, 128, 128, 0.66),
        inset 0 0 0 50px #333,
        inset 0 0 0 6px rgba(255, 255, 255, 0.5);
}


/* 活動詳細DIV */
#activityDiv{
    background-color: var(--blue);
    width: 75%;
    height: auto;
    margin-top: 1rem; 
    border: 5px solid var(--lightGray);
    border-radius: 32px;
    display: inline-block;
    background-color: rgb(250, 250, 250);
    
}
#activityDiv h1{

    text-align: center;   
    color: #000000;
}

.experienceShare{
    height: 14rem;
    width: 85%;
    margin-top: 1rem;
    margin-left: 2rem;
    display: inline-flex;
    border: 2px solid #000000;
    border-radius: 32px;
    padding: 1rem;
}

.experienceShare:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 5px rgba(0, 0, 0,0.8);
}

.experienceShare img{
    height: 13rem;
    width: 13rem;
    display: inline-block;
    

}
.experienceShare h3{
    margin: 1rem;
    color: var(--black);
}

#activityDetailedDiv{
    width: 20rem;
}

#activityDetailed{
    background-color: var(--orange);
    width: 80%;
    height: 20rem;
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding: 5px;
    border: 3px solid var(--lightGray);
    border-radius: 32px;
    display: inline-block;
    text-align: center;
}

#organiserDiv{
    background-color: var(--orange);
    width: 80%;
    height: 20rem;
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding: 10px;
    border: 3px solid var(--lightGray);
    border-radius: 32px;
    
}

#activityLabel{
    color: var(--deepBlue);
    font-size: large;
    flex-grow: 1;
    
}
#activityH3{
    color: var(--deepBlue);
    
    flex-grow: 1;
    
}

#organiserDiv{
    background-color: var(--orange);
    width: 80%;
    height: auto;
    margin-top: 2.5%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    padding: 5px;
    border: 3px solid var(--lightGray);
    border-radius: 32px;
    text-align: center;
}

#organiserDiv img{
    height: 13rem;
    width: 13rem;
    margin-top: 2.5%;
    margin-right: 8%;
    margin-left: 8%;
    border-radius: 32px;
}

#organiserDiv label{
    color: #000000;
    margin-top: 2rem;
    margin-right: 8%;
    margin-left: 8%;
}
/* 彈出式頁面 */

/* #signDialog{
    opacity: 0.9;
} */

/* #activityCalendar {
    transform: scale(0.9);
} */
/* #activityCalendar *{
    transform: scale(1);
} */

/* #signDialog{
    height: 80%;
    width: 60%;
    border: none;
    background-color: var(--black);
    box-shadow: 0 2px 6px var(--black);
    border-radius: 32px;
}

#signDialog h2{
    color: var(--white);
    text-align: center; 
}

#dialogClose{
    width:20%;
    height: 3rem;
    border:0;
    background-color:#fca311;
    color:#fff;
    font-size: xx-large;
    border-radius:10px;
    margin-left: 10%;
    cursor:pointer;
    position: absolute;
    left: -3rem;
    bottom: 1rem;
}
#dialogClose:hover{
    color:var(--white);
    background-color:#965d02;
    border:2px var(--black);
}

#dialogSign{
    width:20%;
    height: 3rem;
    border:0;
    background-color:#fca311;
    color:#fff;
    font-size: xx-large;
    border-radius:10px;
    margin-left: 10%;
    cursor:pointer;
    position: absolute;
    right: 3rem;
    bottom: 1rem;
}

#dialogSign:hover{
    color:var(--white);
    background-color:#965d02;
    border:2px var(--black);
}

#signTextDiv{
    width: 30rem;
    display: inline-block;
    position: absolute;
    left: 3rem;
}
#signTextDiv label{
    color: var(--lightGray);
    font-size: xx-large;
    display: flex;
    justify-content: center;
}





input {
    width: 30rem;
    height: 3rem;
    border: 0px;
    margin-top: 0rem;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--lightGray);
    text-align: center;
    border: 1px solid rgba(255,255,255,.15);
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0,0.1);
    border-radius: 30px;
}


input:invalid{
    background-color: ivory;
    border: none;
    outline: 2px solid red;
    
}



textarea{
    width: 30rem;
    height: 9rem;
    border: 0px;
    margin-top: 0rem;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--lightGray);
    border: 1px solid rgba(255,255,255,.15);
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0,0.1);
    border-radius: 10px;
} */

/* dialog日程表 */
/* #activityCalendar{
    
    display: inline-block;
    position: absolute;
    top: 6rem;
    right: 3rem;
    
} */



/* #signDialog {
    z-index: 100;
  }

  body {
    font-family: "Open Sans", 
    -apple-system, 
    BlinkMacSystemFont, "Segoe UI"
    , Roboto, Oxygen-Sans, 
    Ubuntu, 
    Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 10; 
  } */