@model MVC_Project.Models.HomePageViewModel



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JO!N</title>
    <link rel="icon" href="~/IMG/小黃人.png" type="image/png" />
    <!-- Font Awesome套件引入 -->
    <script src="https://kit.fontawesome.com/2bfbd4ef35.js" crossorigin="anonymous"></script>
    <!-- 引入 Bootstrap 的 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    <!-- css連結，確保在Bootsrap之下 -->
    <link rel="stylesheet" href="~/css/ACT.css" />
    <!-- 引入 Bootstrap 的 JavaScript 和相依的 Popper.js 和 jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- moving letter特效引入 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>


</head>

<body>
    <!-- 回到網頁頂端設計 -->
    <div id="scroll-to-top" class="hidden">
        <a href="#top">
            <div class="homeicon-container">
                <i class="fa-solid fa-house fa-xl" style="color: var(--white);"></i>
            </div>
        </a>
    </div>

    <br><br><br>
    <section class="actselect">
        <div class="centered-container">
            <div class="topnav">
                @foreach (var activity in Model.Activities){
                }
                <a asp-area="" asp-controller="Home" asp-action="ACT">ALL</a>
                <a href="#mountain">登山</a>
                <a href="#diving">潛水</a>
                <a href="#camping">露營</a>
                <a href="#river">溯溪</a>
                <a href="#other">其他</a>
                &emsp;&emsp;
                <div class="swi">
                    <div class="cktoggle">
                        <input type="checkbox" class="cktoggle_checkbox" id="cktoggle_id2" checked>
                        <label class="cktoggle_label" for="cktoggle_id2">
                            <span class="cktoggle_inner"></span>
                            <span class="cktoggle_circle"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <br>
    <br>

    <!-- 活動導覽方塊 -->
    <section class="activity-container">
        <div class="activity-group-header">
            <div class="activity-content">
            </div>
        </div>

        <!-- 方塊們 -->
        <div class="card-div">
            <section class="cards">
                @foreach (var activity in Model.Activities)
                {
                    <article class="card">
                        <div class="card__info-hover">
                            <i class="fa-regular fa-heart fa-2xl heart-icon"></i>
                        </div>

                        <div class="card__img" style="background-image: url('@activity.PhotoPath')"></div>
                        <a href="#" class="card_link">
                            <div class="card__img--hover" style="background-image: url('@activity.PhotoPath')"></div>
                        </a>
                        <div class="card__info">
                            <div class="category-box">官方活動</div>

                            <span class="card__category">@activity.Category</span>
                            <h3 class="card__title">@activity.ActivityName</h3>

                        </div>
                    </article>
                }
                
            </section>
        </div>

    </section>
    <br><br>
    <!-- 分頁 -->
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>


    <!-- JS連結 -->
    <script src="~/js/ACT.js"></script>


</body>



</html>