<!-- css連結，確保在Bootsrap之下 -->
<link rel="stylesheet" href="~/css/MemberUse/login.css" />



<body>
	
	<div class="container-loginandregister">

		<!-- 登入-->
		<div id="container1" class="login">

			<form action="@Url.Action("Login", "Account")" id="login" method="post">


				<div class="headerforwelcome">
					<h1>歡迎!</h1>
					<p>開始揪團，一起探險!</p>
				</div>

				<div>
					<input type="text" name="username" placeholder="帳號" />
					<div class="tab"></div>
					<input type="password" name="password" placeholder="密碼" />

					<button type="submit" class="button">登入</button>
				</div>
			</form>
			<div class="quicklogin">
				<h2> - 快速登入 - </h2>
				<form action="">

					<button class="button">使用Google登入</button>
				</form>
				<button class="button">使用Line登入</button>
			</div>

			<!-- 切換 -->

			<div class="forget">
				<p>忘記密碼</p>
			</div>
			<div class="register-link">
				<p onclick="show_hide()">註冊帳號</p>
			</div>

		</div>

		<!-- 註冊 -->
		<div id="container2">
			<form action="@Url.Action("Register", "Account")" method="post" class="login">


				<div class="headerforregister">
					<h1>註冊!</h1>
					<p>開始揪團，一起探險!</p>
				</div>


				<input type="text" id="username2" name="username" placeholder="帳號" required>
				<div class="tab"></div>
				<input type="text" id="password2" name="password" placeholder="密碼" required>
				<div class="tab"></div>
				<input type="text" id="comfirm_password" name="comfirm_password" placeholder="確認密碼" required>
				<div class="tab"></div>
				<input type="text" id="fullname" name="fullname" placeholder="暱稱" required>
				<div class="tab"></div>
				<input type="text" id="fullname" name="fullname" placeholder="電子信箱" required>
				<div class="tab"></div>


				<div class="button-container">
					<button type="submit" class="button">註冊</button>
				</div>
				<div class="login-link">
					<p onclick="show_hide()">登入帳號</p>
				</div>
			</form>
		</div>
	</div>

	

</body>

<!-- bar-js -->
<!-- JS連結 -->
<script src="~/js/MemberUse/login.js"></script>


