/* 字體 */
/* 分支修改測試 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200&family=Roboto:ital,wght@1,300&display=swap");

/* "米字號"被用來選取HTML文檔中的所有元素 */
* {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  /*當使用超連結時，頁面會平滑滾動到目標位置。 */
}

/* 主題顏色宣告 */
:root {
  --black: #000000;
  --deepBlue: #14213d;
  --blue: #416ac2;
  --orange: #fca311;
  --lightGray: #e5e5e5;
  --white: #ffffff;
}

/* 頁面背景色 */
body {
  background-color: var(--deepBlue);
  padding-left: 20%;
  padding-right: 20%;
  color: var(--white);
}

/* 導覽列 */
.navbar {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 20px; */
  font-size: large;
  font-weight: bolder;
  position: relative;

}

.navbar-item {
  text-decoration: none;
  color: var(--white);
  margin-right: 20px;
  position: relative;
}

.navbar-item:hover {
  color: var(--orange);
}


.navbar-right {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-right: 50px;
}

.search-input {
  border-radius: 5px;
  margin-right: 5px;
}

.navbar-login {
  text-decoration: none;
  margin-right: 20px;
  color: var(--white);
  padding: 5px 15px;
}

.navbar-login:hover {
  color: var(--orange);
}

.navbar-signin {
  text-decoration: none;
  margin-right: 20px;
  color: var(--white);
  background-color: var(--orange);
  padding: 5px 15px;
  border-radius: 5px;
}

.navbar-signin:hover {
  color: var(--deepBlue);
}


/* 懸浮方框 */
.dropdown {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 400px;
  top: 100%;
  left: 10%;
  /*這裡我是暴力調整，如果頁面寬度過窄，懸浮的方框就不會跟"探索"對齊了*/
  z-index: 5;
  /*確保不會被其他元素擋住*/
  border-radius: 10px;
  box-shadow: 0 4px 36px 1px #797979;
}

.dropdown-content a {
  text-decoration: none;
  color: var(--blue);
}

.dropdown-content a:hover {
  color: var(--orange);
}

.dropdown-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.dropdown-section {
  flex: 1;
}

.dropdown-section {
  font-size: 1.2rem;
  font-weight: bold;
  /* text-align: center; */
}

.dropdown-section ul {
  list-style: none;
  padding: 15px;
  margin: 0%;
}

.dropdown-section ul li a {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--deepBlue);
  /* text-align: center; */
}

/* slogan */
/* 新增的區塊樣式 */
.slogan-section {
  height: 80vh;
  margin-top: 2.5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  background-color: var(--deepBlue);
  color: var(--white);
  position: relative;
}

.slogan {
  flex: 1;
  text-align: center;
  padding: 10px;
  padding-right: 30px;
}

.slogan h2 {
  margin: 0;
  font-size: 65px;
  font-weight: bolder;
  text-align: left;
}

.slogan p {
  text-align: left;
  margin-top: 8%;
  padding-left: 3%;
  color: var(--lightGray);
  font-size: 20px;
  font-weight: bold;
}

.image {
  padding-left: 20px;
  flex: 2;
  display: flex;
  align-items: right;

}

/* 調整圖片寬度 */
.image img {
  max-width: 100%;
  /*到時候根據左邊文字內容更動高度*/
  height: 500px;
  border-radius: 10px;
  box-shadow:
    0 20px 60px 0 rgba(129, 128, 128, 0.66),
    inset 0 0 0 50px #333,
    inset 0 0 0 6px rgba(255, 255, 255, 0.5);
}

/* 輪播圖 */
.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); /* 設置背景色，可以是半透明的 */
  color: #fff; /* 文字顏色 */
  text-align: left; /* 文字對齊方式，這裡設置為左對齊 */
  padding: 10px; /* 內邊距 */
  max-width: 300px;
}


/*左右鍵*/
.carousel-control-prev,
.carousel-control-next {
  /*size */
  height: 50px;
  width: 50px;
  /*color */
  background: #1b1b1b none repeat scroll 0 0;
  opacity: 0.5;
  /*shape border*/
  border: 3px white solid;
  border-radius: 50%; /*zero for square */
  /*symbol */
  color: #fff;
  /*vertical position */
  top: 47%;
  margin: 25px;
}

/*carousel indicators */
.carousel-indicators .test {
  height: .3rem;
  width: 3rem;
  border: 0.15rem rgb(130, 130, 131) solid;
  
}