/* 字體 */
/* 分支修改測試 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200&family=Roboto:ital,wght@1,300&display=swap");

/* "米字號"被用來選取HTML文檔中的所有元素 */
* {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  /*當使用超連結時，頁面會平滑滾動到目標位置。 */
}

/* 主題顏色宣告 */
:root {
  --black: #000000;
  --deepBlue: #14213d;
  --blue: #416ac2;
  --orange: #fca311;
  --lightGray: #e5e5e5;
  --white: #ffffff;
  --brown: #AD7D52;
  --heart: #B44163;
}

/* 頁面背景色 */
body {
  background-color: var(--deepBlue);
  color: var(--white);
}

/* 回到網頁頂端圖示設計 */
#scroll-to-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  z-index: 10;
}

/* 防止超連結跑出底線 */
#scroll-to-top a {
  text-decoration: none;
}

#scroll-to-top .homeicon-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: solid 3px var(--lightGray);
  background-color: var(--deepBlue);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}

#scroll-to-top .homeicon-container:hover {
  transform: scale(1.15);
}

.hidden {
  display: none;
}

/* 導覽列 */
.navbar {
  padding-left: 10%;
  padding-right: 10%;
  color: var(--white);
  font-size: large;
  font-weight: bolder;
} 

.navbar-item {
  text-decoration: none;
  color: var(--white);
}

.navbar-item:hover {
  color: var(--orange);
}

/* 懸浮方框 */
.dropdown-content {
  margin-top: .5rem;
  display: none; 
  position: absolute; 
  border-radius: 10px;
  background-color: var(--white);
  border: 7px solid var(--lightGray); 
  padding: 10px; 
  z-index: 999; 
  
}

.dropdown-content a {
  margin: 1rem;
  text-decoration: none;
  color: var(--deepBlue);
}

.dropdown-content a:hover {
  color: var(--orange);
}

.nav-signin {
  background-color: var(--orange);
  padding: 2.5px 10px;
  border-radius: 5px;
  transition: background-color 0.1s, border 0.1s; /* 添加過渡效果 */
}

.nav-signin:hover {
  background: transparent;
  border: solid 1.5px var(--orange);
}

.singin-style {
  text-decoration: none;
  color: var(--white);
  transition: color 0.1s; /* 添加過渡效果 */
}

.singin-style:hover {
  color: var(--orange);
}



/* 搜尋框設計 */
.searchInputWrapper {
  position: relative;
}

.searchInput {
  width: 15rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
}

.searchInput::placeholder {
  color: #7e5109;
  font-size: 0.85rem;
  opacity: 0.7;
}

.searchInput:focus::placeholder {
  text-indent: -999px
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
  transition: transform 0.3s ease;
}

.searchInput:focus+.searchInputIcon {
  color: var(--orange);
  transform: translateX(10px);
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: var(--deepBlue);
  transition: all 0.1s ease-in-out;
}

.navbar-login {
  text-decoration: none;
  color: var(--white);
  padding: 5px 15px;
}

.navbar-login:hover {
  color: var(--orange);
}

.navbar-signin {
  text-decoration: none;
  color: var(--white);
  background-color: var(--orange);
  padding: 5px 15px;
  border-radius: 5px;
}

.navbar-signin:hover {
  color: var(--deepBlue);
}




/* slogan */
.slogan-section {
  padding-left: 15%;
  padding-right: 15%;
  height: 80vh;
  margin-top: 3.5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: var(--deepBlue);
  color: var(--white);
  position: relative;
  gap: 8rem;
}

.slogan {
  flex: 1;
  text-align: center;
  padding: 10px;
  padding-right: 30px;
}

.slogan h2 {
  margin: 0;
  font-size: 65px;
  font-weight: bolder;
  text-align: left;
}

.slogan p {
  text-align: left;
  margin-top: 8%;
  padding-left: 3%;
  color: var(--lightGray);
  font-size: 20px;
  font-weight: bold;
}

.image {
  padding-left: 20px;
  flex: 2;
  display: flex;
}

.image img {
  max-width: 100%;
  /*到時候根據左邊文字內容更動高度*/
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 20px 60px 0 rgba(129, 128, 128, 0.66), inset 0 0 0 50px #333,
    inset 0 0 0 6px rgba(255, 255, 255, 0.5);
}

/* 輪播圖 */
.carousel-title {
  margin-bottom: 5%;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

.my-caption {
  background-color: rgba(0, 0, 0, 0.279);
  color: #fff;
  text-align: left;
  padding: 30px;
  width: fit-content;
  height: fit-content;
}

/* 輪播圖文字設計 */
.carousel1 {
  border: rgba(0, 0, 0, 0.5) 2px solid;
  position: flex;
  top: 18%;
  left: 12%;
}

.carousel2 {
  border: #fca311 2px solid;
  position: flex;
  top: 18%;
  left: 50%;
}

.carouselBtn {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
}

.carouselBtn:hover {
  color: var(--orange);
  border: var(--orange) 2px solid;
  background-color: #7979796f;
}

/* moving letter特效 */
.ml14 {
  font-weight: 200;
  font-size: 3.2em;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

/* 定義漸層邊框圖像 */
.gradient-border {
  border: 5px solid transparent;
  border-image: linear-gradient(90deg, #fca311, #ffffff);
  border-image-slice: 1;
}

/*左右鍵*/
.carousel-control-prev,
.carousel-control-next {
  /*size */
  height: 50px;
  width: 50px;
  /*color */
  background: #1b1b1b none repeat scroll 0 0;
  opacity: 0.5;
  border-radius: 50%;
  color: #fff;
  /*vertical position */
  top: 40%;
  margin: 25px;
}

/*carousel indicators */
.carousel-indicators .test {
  height: 0.3rem;
  width: 3rem;
  border: 0.15rem rgb(130, 130, 131) solid;
}

/* 活動導覽設計 */
.activity-container {
  padding-left: 10%;
  padding-right: 10%;
}

.activity-title {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.activity-content {
  margin-top: 5%;
}

.activity-small-title {
  font-size: 30px;
  font-weight: 500;
}

/* cards */

/* 外面多包一個div讓方塊們保持置中 */
.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 900px;
  gap: 2.5rem;
}

/* 活動分類標籤 */
.category-box {
  border: var(--lightGray) 1px solid;
  position: absolute;
  top: 5px;
  right: 5px; 
  background-color: var(--brown); 
  color: var(--white); 
  padding: 5px 10px;
  border-radius: 5px 12px 5px 5px; 
  font-weight: 600; 
  font-size: 0.85rem; 
  z-index: 1; 
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url('https://picsum.photos/1260/750?random=1');
}

.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url('https://picsum.photos/1260/750?random=2');
}

.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url('https://picsum.photos/1260/750?random=3');
}

.heart-icon:hover {
  cursor: pointer;
}

.card__clock {
  width: 18px;
  vertical-align: middle;
  fill: var(--deepBlue);
  padding-bottom: 3px;
}

.card__time {
  font-size: 1rem;
  font-weight: 700;
  color: var(--deepBlue);
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
}

.heart-icon.solid {
  opacity: 1;
  visibility: visible;
}


.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}

.card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 30px 40px -8px rgba(244, 242, 242, 0.466);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: var(--white);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.liked-text {
  color: var(--heart);
  font-weight: bold;
  position: absolute;
  bottom: 5px;
  right: 13px;
}

.card__category {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--black);
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 750;
}

.card__by {
  font-size: 0.85rem;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: var(--brown);
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
  z-index: 10;
}

/* 你可能喜歡... */
.card--4 .card__img,
.card--4 .card__img--hover {
  background-image: url('https://spaceholder.cc/i/1260x750?random=1');
}

.card--5 .card__img,
.card--5 .card__img--hover {
  background-image: url('https://spaceholder.cc/i/1260x750?');
}

.card--6 .card__img,
.card--6 .card__img--hover {
  background-image: url('https://spaceholder.cc/i/1260x750?random=3');
}


/* 頁底設計 */
footer {
  margin-top: 5%;
}

.custom-btn {
  margin: 1rem;
  display: inline-block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.custom-btn i {
  font-size: 23px;
  color: var(--deepBlue);
}

.custom-btn:hover i {
  color: var(--brown);
}


/* 聯絡我們表單 */

#contactDialog {
  border-radius: 10px;
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-120%, -50%);
  width: 20%;
  max-height: 80vh;
  background-color: var(--white);
  /* 在這裡設置背景顏色 */
  overflow: hidden;
  /* 移除滾動條 */
}

/* 調整內容置中 */
#contactDialog section {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

#contactBox {
  width: 100%;
  max-width: 70rem;
  text-align: center;
}

#contactBox form {
  max-width: 40rem;
  text-align: center;
}

#contactBox form .input-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

#contactBox form .input-box .input-field {
  position: relative;
  width: 49%;
  margin: 0.3rem 0;
}

#contactBox form .input-box .input-field input,
#contactBox form .textarea-field textarea {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  background: transparent;
  color: var(--deepBlue);
  border-radius: 5px;
  border: var(--deepBlue) 0.1rem solid;
}

.submitText {
  width: 90px;
  height: 25px;
  font-size: 0.8rem;
  background: transparent;
  color: var(--white);
  border-radius: 15px;
  margin-top: .7rem;
  background-color: var(--deepBlue);
}

.submitText:hover {
  cursor: pointer;
  border: var(--deepBlue) 0.1rem solid;
  background-color: var(--white);
  color: var(--deepBlue);
}

#contactDialog .x-div {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: solid 2px var(--deepBlue);
  background-color: var(--lightGray);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all .3s;
}

#closeDialogButton {
  cursor: pointer;
}

#contactDialog .x-div:hover {
  animation: shake 0.3s ease-in-out;
  
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-1.5px);
  }

  50% {
    transform: translateX(1.5px);
  }

  75% {
    transform: translateX(-1.5px);
  }
}

#contactBox form .input-box .input-field input::placeholder,
#contactBox form .textarea-field textarea::placeholder {
  color: gray;
  font-size: 0.8rem;
}

#contactBox form .textarea-field textarea {
  resize: none;
}