/* 字體 */
/* 分支修改測試 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@200&family=Roboto:ital,wght@1,300&display=swap");

/* "米字號"被用來選取HTML文檔中的所有元素 */
* {
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  /*當使用超連結時，頁面會平滑滾動到目標位置。 */
}

/* 主題顏色宣告 */
:root {
  --black: #000000;
  --deepBlue: #14213d;
  --blue: #416ac2;
  --orange: #fca311;
  --lightGray: #e5e5e5;
  --white: #ffffff;
  --brown: #AD7D52;
  --heart: #B44163;
}

/* 頁面背景色 */
body {
  background-color: var(--deepBlue);
  padding-left: 10%;
  padding-right: 10%;
  color: var(--white);
}

/* 導覽列 */
.navbar {
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  font-weight: bolder;
  position: relative;
}

.navbar-item {
  text-decoration: none;
  color: var(--white);
  margin-right: 20px;
  position: relative;
}

.navbar-item:hover {
  color: var(--orange);
}

.navbar-item:hover #downicon {
  color: var(--orange);
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1.2rem;
}

/* 搜尋框設計 */
.searchInputWrapper {
  position: relative;
}

.searchInput {
  width: 15rem;
  height: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
}

.searchInput::placeholder {
  color: #7e5109;
  font-size: 0.85rem;
  opacity: 0.7;
}

.searchInput:focus::placeholder {
  text-indent: -999px
}

.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
  transition: transform 0.3s ease;
}

.searchInput:focus+.searchInputIcon {
  color: var(--orange);
  transform: translateX(10px);
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: var(--deepBlue);
  transition: all 0.1s ease-in-out;
}

.navbar-login {
  text-decoration: none;
  color: var(--white);
  padding: 5px 15px;
}

.navbar-login:hover {
  color: var(--orange);
}

.navbar-signin {
  text-decoration: none;
  color: var(--white);
  background-color: var(--orange);
  padding: 5px 15px;
  border-radius: 5px;
}

.navbar-signin:hover {
  color: var(--deepBlue);
}

/* 懸浮方框 */
.dropdown {
  display: none;
  position: absolute;
  background-color: var(--white);
  min-width: 400px;
  top: 100%;
  /*這裡我是暴力調整，如果頁面寬度過窄，懸浮的方框就不會跟"探索"對齊了*/
  left: 9rem;
  /*確保不會被其他元素擋住*/
  z-index: 5;
  border-radius: 10px;
  box-shadow: 0 4px 36px 1px #797979;
}

.dropdown-content a {
  text-decoration: none;
  color: var(--blue);
}

.dropdown-content a:hover {
  color: var(--orange);
}

.dropdown-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.dropdown-section {
  flex: 1;
}

.dropdown-section {
  font-size: 1.2rem;
  font-weight: bold;
  /* text-align: center; */
}

.dropdown-section ul {
  list-style: none;
  padding: 15px;
  margin: 0%;
}

.dropdown-section ul li a {
  font-size: 1rem;
  margin-bottom: 10px;
  color: var(--deepBlue);
  /* text-align: center; */
}

/* slogan */
.slogan-section {
  height: 80vh;
  margin-top: 7%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
  background-color: var(--deepBlue);
  color: var(--white);
  position: relative;
  gap: 8rem;
}

.slogan {
  flex: 1;
  text-align: center;
  padding: 10px;
  padding-right: 30px;
}

.slogan h2 {
  margin: 0;
  font-size: 65px;
  font-weight: bolder;
  text-align: left;
}

.slogan p {
  text-align: left;
  margin-top: 8%;
  padding-left: 3%;
  color: var(--lightGray);
  font-size: 20px;
  font-weight: bold;
}

.image {
  padding-left: 20px;
  flex: 2;
  display: flex;
}

.image img {
  max-width: 100%;
  /*到時候根據左邊文字內容更動高度*/
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 20px 60px 0 rgba(129, 128, 128, 0.66), inset 0 0 0 50px #333,
    inset 0 0 0 6px rgba(255, 255, 255, 0.5);
}

/* 輪播圖 */
.carousel-title {
  margin-bottom: 5%;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

.my-caption {
  background-color: rgba(0, 0, 0, 0.279);
  color: #fff;
  text-align: left;
  padding: 30px;
  width: fit-content;
  height: fit-content;
}

/* 輪播圖文字設計 */
.carousel1 {
  border: rgba(0, 0, 0, 0.5) 2px solid;
  position: flex;
  top: 18%;
  left: 12%;
}

.carousel2 {
  border: #fca311 2px solid;
  position: flex;
  top: 18%;
  left: 50%;
}

.carouselBtn {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
}

.carouselBtn:hover {
  color: var(--deepBlue);
  border: var(--orange) 2px solid;
}

/* moving letter特效 */
.ml14 {
  font-weight: 200;
  font-size: 3.2em;
}

.ml14 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml14 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform-origin: 100% 100%;
  bottom: 0;
}

.ml14 .letter {
  display: inline-block;
  line-height: 1em;
}

/* 定義漸層邊框圖像 */
.gradient-border {
  border: 5px solid transparent;
  border-image: linear-gradient(90deg, #fca311, #ffffff);
  border-image-slice: 1;
}

/*左右鍵*/
.carousel-control-prev,
.carousel-control-next {
  /*size */
  height: 50px;
  width: 50px;
  /*color */
  background: #1b1b1b none repeat scroll 0 0;
  opacity: 0.5;
  border-radius: 50%;
  color: #fff;
  /*vertical position */
  top: 40%;
  margin: 25px;
}

/*carousel indicators */
.carousel-indicators .test {
  height: 0.3rem;
  width: 3rem;
  border: 0.15rem rgb(130, 130, 131) solid;
}

/* 活動導覽設計 */

.activity-title {
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.activity-content {
  margin-top: 5%;
}

.activity-small-title {
  font-size: 30px;
  font-weight: 500;
}

/* cards */

/* 外面多包一個div讓方塊們保持置中 */
.card-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 900px;
  gap: 2.5rem;
}

.card--1 .card__img,
.card--1 .card__img--hover {
  background-image: url('https://picsum.photos/1260/750?random=1');
}

.card--2 .card__img,
.card--2 .card__img--hover {
  background-image: url('https://picsum.photos/1260/750?random=2');
}

.card--3 .card__img,
.card--3 .card__img--hover {
  background-image: url('https://picsum.photos/1260/750?random=3');
}

.heart-icon:hover {
  cursor: pointer;
}

.card__clock {
  width: 18px;
  vertical-align: middle;
  fill: var(--deepBlue);
  padding-bottom: 3px;
}

.card__time {
  font-size: 1rem;
  font-weight: 700;
  color: var(--deepBlue);
  vertical-align: middle;
  margin-left: 5px;
}

.card__clock-info {
  float: right;
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

}

.card__info-hover {
  position: absolute;
  padding: 16px;
  width: 100%;
  opacity: 0;
}

.heart-icon.solid {
  opacity: 1;
  visibility: visible;
}

  
.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;

}

.card {
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 30px 40px -8px rgba(244, 242, 242, 0.466);
  transform: scale(1.10, 1.10);
}

.card__info {
  z-index: 2;
  background-color: var(--white);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px 24px 24px 24px;
}

.liked-text {
  color: var(--heart); 
  font-weight: bold; 
  position: absolute; 
  bottom: 5px; 
  right: 13px; 
}

.card__category {
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--black);
}

.card__title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 750;
}

.card__by {
  font-size: 0.85rem;
  font-weight: 500;
}

.card__author {
  font-weight: 600;
  text-decoration: none;
  color: var(--brown);
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card:hover .card__info-hover {
  opacity: 1;
  z-index: 10;
}

/* 你可能喜歡... */
.card--4 .card__img,
.card--4 .card__img--hover {
  background-image: url('https://picsum.photos/1260/750?random=4');
}

.card--5 .card__img,
.card--5 .card__img--hover {
  background-image: url('https://picsum.photos/1260/750?random=5');
}

.card--6 .card__img,
.card--6 .card__img--hover {
  background-image: url('https://picsum.photos/1260/750?random=6');
}



